body {
  color: #212121;
  font-family: 'Roboto', 'Arial', sans-serif;
}
/*  VARIABLE  */
:root {
  --footer-fondo: #2f303a;
  --titulos-texto: #212121;
}
/* pie de pagina  */

.logo {
  color: #2196f3;
  font-size: 26px;
  font-family: 'Raleway';
  line-height: 1.2em;
  font-weight: 700;
  text-decoration: none;
}
.logo:hover {
  color: #212121;
}
.logo:focus {
  color: #2196f3;
}

.active-link {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2em;
  text-decoration: none;
}
.active-link:hover {
  color: #2196f3;
}
.active-link:focus {
  color: #2196f3;
}
.active-link-portafolio {
  color: #2196f3;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2em;
  text-decoration: none;
}
.active-link-estudio {
  font-weight: 500;
  font-size: 14px;
  color: #2196f3;
  line-height: 1.2em;
  text-decoration: none;
}
.active-link-estudio:focus {
  color: #2196f3;
}

.contacto-link {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2em;
  text-decoration: none;
}
.contacto-link:hover {
  color: #2196f3;
}
.contacto-link:focus {
  color: #2196f3;
}
.contacto-link-info {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2em;
  text-decoration: none;
  color: #2196f3;
}
.contacto-link-info:hover {
  color: #2f303a;
}
.contacto-link-info:focus {
  color: #2196f3;
}
/*INDEX HTML*/
/* SOLUCIONES EFICACES */

.h1-title-container {
  background: var(--footer-fondo);
}
.h1-title {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.4em;
  color: #ffffff;
}
.h1-title:hover {
  color: #2196f3;
}
.button-index {
  font-size: 16px;
  line-height: 1.9em;
  list-style: none;
  background: #2196f3;
  font-family: inherit;
  cursor: pointer;
}
.button-index:focus {
  color: #2196f3;
}
.button-index-letras {
  color: #ffffff;
}
/* VALUES  */

.values {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1em;
  list-style: none;
}
.values:hover {
  color: #2196f3;
}
.values-description {
  font-weight: 400;
  color: #757575;
  font-size: 14px;
  line-height: 1.7em;
}
.values-description:hover {
  color: #2196f3;
}
.values-gren {
  font-weight: 400;
  font-size: 14px;
  color: #757575;
  line-height: 1.1em;
}
.values-gren:hover {
  color: #2196f3;
}

/* a que  nos dedicamos */

.h2-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2em;
  color: var(--titulos-texto);
  list-style: none;
}
.h2-title:hover {
  color: #2196f3;
}
/* NUESTRO EQUIPO */

.h3-title {
  color: var(--titulos-texto);
  font-size: 36px;
  line-height: 1.2em;
  font-weight: 700;
}
.h3-title:hover {
  color: #2196f3;
}
.team-members {
  font-weight: 500;
  font-size: 16px;
  color: #212121;
  line-height: 1.2em;
}
.team-members:hover {
  color: #2196f3;
}
.position {
  font-weight: 400;
  color: #757575;
  font-size: 16px;
  line-height: 1.2em;
}
.position:hover {
  color: #2196f3;
}

/* PORTAFOLIO HTML*/

/* button*/
.active-button-todo {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 500;
  background: #2196f3;
  color: #ffffff;
  cursor: pointer;
}
.active-button-todo:focus {
  color: #2196f3;
}

.active-button {
  font-size: 16px;
  line-height: 1.6em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}
.active-button:hover {
  color: #ffffff;
  background-color: #2196f3;
}
.active-button:focus {
  color: #2196f3;
}

/* principal*/
.list-title {
  font-weight: 700px;
  color: #212121;
  font-size: 18px;
  line-height: 1.2em;
}
.list-title:hover {
  color: #2196f3;
}
.list-description {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9em;
}
.list-description:hover {
  color: #2196f3;
}
/* FOOTER  */
.footer-container {
  background: var(--footer-fondo);
}

.logo-footer {
  color: #2196f3;
  font-size: 26px;
  font-family: 'Raleway';
  line-height: 4.2em;
  font-weight: 700;
  text-decoration: none;
}
.logo-footer:hover {
  color: #ffffff;
}
.logo-footer:focus {
  color: #2196f3;
}
.footer-add {
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 500;
  color: #ffffff;
}
.footer-add:hover {
  color: #2196f3;
}
.footer-contacto {
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 500;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.footer-contacto:hover {
  color: #2196f3;
}
.footer-contacto:focus {
  color: #2196f3;
}
